@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 248, 240;
  --background-end-rgb: 255, 236, 210;
}

html, body {
  font-size: 20px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #FFF8F0 0%, #FFECD2 100%);
} 